@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ScheherazadeNew";
  src: local("ScheherazadeNew-Regular"),
    url("./assets/fonts/ScheherazadeNew-Regular.ttf");
}
@font-face {
  font-family: "ScheherazadeNewbold";
  src: local("ScheherazadeNew-Bold"),
    url("./assets/fonts/ScheherazadeNew-Bold.ttf");
}
#root {
  overflow-y: hidden;
}
